<!-- user profile -->
<html>
	<head>
		<meta charset="UTF-8">
		<title>User's Profile!!</title>
		<meta name="viewport" content="width=device-width, initial scale=1.0">

		<!--Bootstrap-->
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">

	</head>
	<body>

		<h1>Hello, World!</h1>
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		<!--
		<div class="ProfileField">
			<a href="#">
			<div class="ProfilePicture">
				<img border="0" src="default.jpg" alt="Default Picture" width="150" height="150" align="left">
			</div> 
			<div class="DisplayName">
				<h2>User's Name Here</h2>
			</div> </a>
		</div>
		<div class="ProfileField">
			<a href="#"></a>
			<div id="Wall">
			</div>
		</div>
		<div class="ProfileField">
			<a href="#"></a>
			<div id="FriendsList">
			</div>
		</div>
		-->
	</body>
</html>