@(registrationForm: Form[Signup.Register])

@importhelper._


@umain("Register") {  
    @form(routes.Signup.register(), 'class -> "form") {

        @if(registrationForm.hasGlobalErrors) {
            <p class="error">
                <span class="label label-danger">@registrationForm.globalError.message</span>
            </p>
        }

        <fieldset>
            @inputText(
                registrationForm("email"),
                'class -> "form-control",
                '_label -> "Email"
            )
            @inputText(
                registrationForm("fullname"),
                'class -> "form-control",
                '_label -> "Full Name"
            )
            @inputText(
                registrationForm("address"),
                'class -> "form-control",
                '_label -> "Address"
            )
            @inputPassword(
                registrationForm("inputPassword"),
                'class -> "form-control",
                '_label -> "Password"
            )
            @inputPassword(
                registrationForm("confirmPasswd"),
                'class -> "form-control",
                '_lable -> "Confirm Password"
            )
            @inputDate(
                registrationForm("dateOfBirth"),
                'class -> "form-control",
                '_label -> "Birthdate"
            )
        </fieldset>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="@Messages("Register")">
        </div>
    }
}